<!--The content below is only a placeholder and can be replaced.-->
<jad-header></jad-header>

<!-- <jad-student [student]="luke"></jad-student>
<br />
<jad-student [student]="leia"></jad-student>
<br />
<jad-student [student]="han"></jad-student> -->

<jad-student *ngFor="let student of students" [student]="student"></jad-student>

<jad-student></jad-student>

<button (click)="clicked($event)">Click!</button>
<button (myEvent)="willBeCalled()">Click!</button>
<input (keydown.space)="clicked($event)" />
